spring:
  rabbitmq:
    username: guest
    password: guest
    host: 127.0.0.1
    port: 5672
  data:
    redis:
      port: 6379
      password: 123456
      host: 127.0.0.1

megalith:
  blog:
    auth-url: http://127.0.0.1:8081/inner
    blog-url: http://127.0.0.1:8082/inner
    search-url: http://127.0.0.1:8085/inner
    user-url: http://127.0.0.1:8086/inner

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0
  otlp:
    metrics:
      export:
        url: http://localhost:8200/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:8200/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:8200/v1/logs