name: Release Cache Maven Package
on:
  push:
    branches:
      - "main"
    paths:
      - "cache/**"
      - ".github/workflows/main-cache.yml"

permissions:
  contents: read

jobs:
  build:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: "graalvm"
          java-version: "25"
      - uses: gradle/actions/setup-gradle@v4
      - name: Publish
        run: ./gradlew :cache:publishAndReleaseToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_SIGNING_PASSWORD }}
      - name: Extract version from build.gradle.kts
        id: get_version
        run: |
          VERSION=$(grep '^version\s*=' cache/build.gradle.kts | sed 's/version\s*=\s*"\(.*\)"/\1/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.get_version.outputs.version }}
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
